mq.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BankLockRequestProcessingManageBankContractLockRequestIn" targetNamespace="http://macquarie.com/accounts/rel2.2" xmlns:p3="http://sap.com/xi/FS-TRBK/Global" xmlns:p2="http://sap.com/xi/SAPGlobal20/Global" xmlns:p1="http://macquarie.com/accounts/rel2.2" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsp:UsingPolicy wsdl:required="true"/>
<wsdl:documentation>BI462 and BI463 Create/Update a PLM New ES</wsdl:documentation>
<wsp:Policy wsu:Id="OP_CreateLockRequest">
<sapidp:Idempotency n0:optional="true" xmlns:n0="http://schemas.xmlsoap.org/ws/2004/09/policy/" xmlns:sapidp="http://www.sap.com/710/soap/features/idempotency/"/>
</wsp:Policy>
<wsp:Policy wsu:Id="OP_UpdateLockRequest"/>
<wsdl:types>
<xsd:schema targetNamespace="http://macquarie.com/accounts/rel2.2" xmlns="http://macquarie.com/accounts/rel2.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p4="http://macquarie.com/ca/rel2.2">
<xsd:import namespace="http://macquarie.com/ca/rel2.2"/>
<xsd:element name="BankContractLockRequestFSCreateRequest" type="p4:BkContrLockFSCrteReqMsg"/>
<xsd:element name="BankContractLockRequestFSCreateConfirmation" type="p4:BkContrLockFSCrteConfMsg"/>
<xsd:element name="BankContractLockRequestFSUpdateRequest" type="p4:BkContrLockFSUpdReqMsg"/>
<xsd:element name="BankContractLockRequestFSUpdateConfirmation" type="p4:BkContrLockFSUpdConfMsg"/>
</xsd:schema>
<xsd:schema targetNamespace="http://macquarie.com/ca/rel2.2" xmlns:p6="http://sap.com/xi/FS-TRBK/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://macquarie.com/ca/rel2.2">
<xsd:import namespace="http://sap.com/xi/FS-TRBK/Global"/>
<xsd:complexType name="BkContrLockFSUpdReq_CardContrSel">
<xsd:sequence>
<xsd:element name="CardLockRequestedIndicator" type="p6:Indicator"/>
<xsd:element name="CardLockChargeWaiverRequestedIndicator" type="p6:Indicator"/>
<xsd:element name="BankCardContract" type="p6:BkContrLockReqFSBkCardContrSelBkCardContr" maxOccurs="unbounded"/>
<xsd:element name="PartySpecification" type="p6:PartyBOComponentFSIdentifyingElements" minOccurs="0"/>
<xsd:element name="ProductionControlFeatureLockInstruction" type="p6:BkContrLockReqFSBkCardContrSelProdContrFeatrLockInstr" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="actionCode" type="p6:ActionCode"/>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSUpdReqMsg">
<xsd:sequence>
<xsd:element name="MessageHeader" type="p6:BusinessDocumentMessageHeader"/>
<xsd:element name="BankContractLockRequest" type="BkContrLockFSUpdReq"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSCrteConfMsg">
<xsd:sequence>
<xsd:element name="MessageHeader" type="p6:BusinessDocumentMessageHeader"/>
<xsd:element name="BankContractLockResponse" type="p6:BkContrLockReqFSBkContrLockReq" minOccurs="0"/>
<xsd:element name="Log" type="p6:Log_V1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSUpdReq_SelBkAcctEntryLockInstr">
<xsd:sequence>
<xsd:element name="BankPaymentTransactionLockInstructionCode" type="p6:BankPaymentTransactionLockInstructionCode" minOccurs="0"/>
<xsd:element name="BankAccountPrenoteEntryTypeCode" type="p6:BankAccountPrenoteEntryTypeCode" minOccurs="0"/>
<xsd:element name="LowerBoundaryAmount" type="p6:Amount" minOccurs="0"/>
<xsd:element name="UpperBoundaryAmount" type="p6:Amount" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="actionCode" type="p6:ActionCode"/>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSUpdReq_ChrgSpec">
<xsd:sequence>
<xsd:element name="WaiverRequestedIndicator" type="p6:Indicator"/>
<xsd:element name="BankAccount" type="p6:PLN_BkAcctBOCompFSIdfgElmnts" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="actionCode" type="p6:ActionCode"/>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSCrteReqMsg">
<xsd:sequence>
<xsd:element name="MessageHeader" type="p6:BusinessDocumentMessageHeader"/>
<xsd:element name="BankContractLockRequest" type="p6:BkContrLockReqFSCrteReqBkContrLockReq"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSUpdReq">
<xsd:sequence>
<xsd:element name="ID" type="p6:BankContractLockRequestID"/>
<xsd:element name="ChangeStateID" type="p6:ChangeStateID"/>
<xsd:element name="UserStatusCode" type="p6:BankContractLockRequestUserStatusCode" minOccurs="0"/>
<xsd:element name="ValidityEndDate" type="p6:Date" minOccurs="0"/>
<xsd:element name="BusinessProcessChainAssignment" type="p6:OPTIONAL_BusProcChnAssgmtFSElmnts"/>
<xsd:element name="BankAccountContractSelection" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BankAccountEntryLockInstruction" type="BkContrLockFSUpdReq_SelBkAcctEntryLockInstr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="DirectDebitMandateLockInstruction" type="BkContrLockFSUpdReq_DrctDbtMandtInstr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ChequeLockInstruction" type="BkContrLockFSUpdReq_ChquLockInstr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="BankCardLockInstruction" type="BkContrLockFSUpdReq_BkCardLockInstr" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BankCardContractSelection" type="BkContrLockFSUpdReq_CardContrSel" minOccurs="0"/>
<xsd:element name="BankMasterContractSelection" type="BkContrLockFSUpdReq_MstrContrSel" minOccurs="0"/>
<xsd:element name="ChargeSpecification" type="BkContrLockFSUpdReq_ChrgSpec"/>
<xsd:element name="Note" type="p6:LANGUAGEINDEPENDENT_MEDIUM_Note" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ConfirmationViewSpecification" type="BkContrLockFSUpdReq_ConfVwSpec"/>
</xsd:sequence>
<xsd:attribute name="actionCode" type="p6:ActionCode"/>
<xsd:attribute name="BankAccountEntryLockInstructionCompleteTransmissionIndicator" type="p6:Indicator"/>
<xsd:attribute name="DirectDebitMandateLockInstructionCompleteTransmissionIndicator" type="p6:Indicator"/>
<xsd:attribute name="ChequeLockInstructionCompleteTransmissionIndicator" type="p6:Indicator"/>
<xsd:attribute name="BankCardLockInstructionCompleteTransmissionIndicator" type="p6:Indicator"/>
<xsd:attribute name="BankCardContractSelectionCompleteTransmissionIndicator" type="p6:Indicator"/>
<xsd:attribute name="BankMasterContractSelectionCompleteTransmissionIndicator" type="p6:Indicator"/>
<xsd:attribute name="ChargeSpecificationCompleteTransmissionIndicator" type="p6:Indicator"/>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSUpdReq_ChquLockInstr">
<xsd:sequence>
<xsd:element name="ChequeTypeCode" type="p6:ChequeTypeCode"/>
<xsd:element name="LowerBoundaryChequeID" type="p6:ChequeID"/>
<xsd:element name="UpperBoundaryChequeID" type="p6:ChequeID" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="actionCode" type="p6:ActionCode"/>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSUpdReq_BkCardLockInstr">
<xsd:sequence>
<xsd:element name="CardLockChargeWaiverRequestedIndicator" type="p6:Indicator"/>
</xsd:sequence>
<xsd:attribute name="actionCode" type="p6:ActionCode"/>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSUpdReq_MstrContrSel">
<xsd:sequence>
<xsd:element name="BankMasterContract" type="p6:BkContrLockReqFSCrteReqBkMstrContrSelBkMstrContr"/>
</xsd:sequence>
<xsd:attribute name="actionCode" type="p6:ActionCode"/>
</xsd:complexType>
<xsd:complexType name="ResponseViewIndicator">
<xsd:sequence>
<xsd:element name="RequestedIndicator" type="p6:Indicator"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSUpdConfMsg">
<xsd:sequence>
<xsd:element name="MessageHeader" type="p6:BusinessDocumentMessageHeader"/>
<xsd:element name="BankContractLockResponse" type="p6:BkContrLockReqFSBkContrLockReq" minOccurs="0"/>
<xsd:element name="Log" type="p6:Log_V1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSUpdReq_ConfVwSpec">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Account Addtional Information</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="BusinessProcessChainAssignment" type="ResponseViewIndicator" minOccurs="0"/>
<xsd:element name="BankAccountEntryLockInstruction" type="ResponseViewIndicator" minOccurs="0"/>
<xsd:element name="DirectDebitMandateLockInstruction" type="ResponseViewIndicator" minOccurs="0"/>
<xsd:element name="ChequeLockInstruction" type="ResponseViewIndicator" minOccurs="0"/>
<xsd:element name="BankCardLockInstruction" type="ResponseViewIndicator" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockFSUpdReq_DrctDbtMandtInstr">
<xsd:sequence>
<xsd:element name="DirectDebitMandateID" type="p6:DirectDebitMandateID"/>
<xsd:element name="CreditorPartyID" type="p6:PartyID"/>
</xsd:sequence>
<xsd:attribute name="actionCode" type="p6:ActionCode"/>
</xsd:complexType>
</xsd:schema>
<xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns:p6="http://sap.com/xi/FS-TRBK/Global" xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://sap.com/xi/FS-TRBK/Global"/>
<xsd:element name="StandardMessageFault">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="standard" type="p6:ExchangeFaultData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema targetNamespace="http://sap.com/xi/FS-TRBK/Global" xmlns="http://sap.com/xi/FS-TRBK/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:simpleType name="DirectDebitMandateID.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CountryDiallingCode">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LogItemTypeID_V1">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="61"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PhoneNumberSubscriberID">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankCardContractProductionControlFeatureLockInstructionCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="MEDIUM_Name.Content">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ProcessingResultCode">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CurrencyCode">
<xsd:restriction base="xsd:token">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LogItemTypeIdentifierTypeCode">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="WebURI">
<xsd:restriction base="xsd:anyURI"/>
</xsd:simpleType>
<xsd:simpleType name="LogItemCategoryCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankAccountContractProductionControlFeatureLockInstructionCode_V1.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="AgencyIdentificationCode">
<xsd:annotation>
<xsd:documentation xml:lang="EN">An AgencyIdentificationCode is a code representation of the agency responsible for a code list or identifier scheme, respectively</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ChangeStateID">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LONG_Name.Content">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="80"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankAccountPrenoteEntryTypeCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankAccountContractID.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="80"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LanguageCode">
<xsd:restriction base="xsd:language">
<xsd:minLength value="2"/>
<xsd:maxLength value="9"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
<xsd:restriction base="xsd:string">
<xsd:minLength value="0"/>
<xsd:maxLength value="80"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BusinessScopeTypeCode.Content">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Coded representation of the type of a BusinessScope</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankAccountContractProductionControlFeatureCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CountryCode">
<xsd:restriction base="xsd:token">
<xsd:minLength value="2"/>
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankAccountContractTypeCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BusinessSystemID">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PartyID.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankPaymentTransactionLockInstructionCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankContractLockRequestUserStatusCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankStandardID">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Standardized bank identifier (SWIFT Bank Identification Code)</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="8"/>
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BusinessScopeID.Content">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Identifier of a BusinessScope</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="36"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Note">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="80"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankMasterContractID.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankCardContractProductionControlFeatureCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="GLOBAL_DateTime">
<xsd:restriction base="xsd:dateTime">
<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LogItemSeverityCode">
<xsd:restriction base="xsd:token">
<xsd:length value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ActionCode">
<xsd:restriction base="xsd:token">
<xsd:length value="2"/>
<xsd:enumeration value="01"/>
<xsd:enumeration value="02"/>
<xsd:enumeration value="03"/>
<xsd:enumeration value="04"/>
<xsd:enumeration value="05"/>
<xsd:enumeration value="06"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankAccountInternalID.Content">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Proprietary bank account identifier (used for internal communication)</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankInternalID.Content">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Proprietary bank identifier (used for internal communication)</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="18"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PartyInternalID.Content">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Proprietary identifier for a party</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BusinessScopeInstanceID.Content">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Identifier for the instance of a BusinessScope</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="36"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankMasterContractProductionControlFeatureLockInstructionCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankAccountID">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Bank account identifier (Basic Bank Account Number)</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankRoutingIDTypeCode">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Coded representation of the type of a routing number (represented according to SWIFT MT103 Element 52a)</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BusinessObjectTypeCode">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankMasterContractProductionControlFeatureCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankRoutingID">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Routing identification number</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Indicator">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Indicator is the representation of a situation that has exactly two mutually exclusive Boolean values.</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:boolean"/>
</xsd:simpleType>
<xsd:simpleType name="UUID.Content">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Universally Unique Identifier</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:length value="36"/>
<xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankingBusinessTransactionTypeCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LogItemPlaceholderSubstitutionText">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
<xsd:restriction base="xsd:string"/>
</xsd:simpleType>
<xsd:simpleType name="PartyIdentifierTypeCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="EXTENDED_Name.Content">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LogItemTemplatePlaceholderID">
<xsd:restriction base="xsd:token">
<xsd:length value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankContractLockRequestID">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="12"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankCardContractPaymentCardTypeCode.Content">
<xsd:annotation>
<xsd:documentation xml:lang="EN">BankCardContractPaymentCardTypeCode</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ChequeTypeCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Date">
<xsd:restriction base="xsd:date">
<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankAccountIDCheckDigitValue">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Check digit for a bank account identifier</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ContactPersonInternalID.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ObjectNodePartyTechnicalID">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="70"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankAccountStandardID">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Standardized bank account identifier (International Bank Account Number)</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="34"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankCardContractID.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="137"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
<xsd:restriction base="xsd:string">
<xsd:minLength value="0"/>
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BusinessDocumentMessageID.Content">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Unique identifier of a business document in a (technical) message that is issued by the sender business application</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ChequeID.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PhoneNumberExtensionID">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PhoneNumberAreaID">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Amount.Content">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="28"/>
<xsd:fractionDigits value="6"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankContractLockRequestEventCode.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BankAccountPrenoteEntryID_V1.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LogItemNoteTemplateText_V1.Content">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PartyStandardID.Content">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Standardized identifier for a party, and the identification scheme used is controlled by an agency from the code list DE 3055</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="13"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="UserAccountID.Content">
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="LogItemCategoryCode">
<xsd:simpleContent>
<xsd:extension base="LogItemCategoryCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencySchemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BankInternalID">
<xsd:simpleContent>
<xsd:extension base="BankInternalID.Content">
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BankCardContractPaymentCardTypeCode">
<xsd:simpleContent>
<xsd:extension base="BankCardContractPaymentCardTypeCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkCardContrSelBkCardContr">
<xsd:sequence>
<xsd:element name="ID" type="BankCardContractID"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkAcctContrSelProdContrFeatrLockInstr">
<xsd:sequence>
<xsd:element name="Code" type="BankAccountContractProductionControlFeatureLockInstructionCode_V1"/>
<xsd:element name="Name" type="MEDIUM_Name"/>
<xsd:element name="BankAccountContractProductionControlFeature" type="BkContrLockReqFSBkAcctContrSelProdContrFeatrLockInstrFeatr" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BusinessScope">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Environment from which a message is sent</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
<xsd:element name="InstanceID" type="BusinessScopeInstanceID" minOccurs="0"/>
<xsd:element name="ID" type="BusinessScopeID" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OPTIONAL_BusProcChnAssgmtFSElmnts">
<xsd:sequence>
<xsd:element name="BusinessProcessChainUUID" type="UUID"/>
<xsd:element name="BankingBusinessTransactionTypeCode" type="BankingBusinessTransactionTypeCode" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CN_BkAcctBOCompFSIdfgElmntsBk">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Identifying elements of the bank where the bank account is held.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="InternalID" type="BankInternalID" minOccurs="0"/>
<xsd:element name="StandardID" type="BankStandardID" minOccurs="0"/>
<xsd:element name="RoutingID" type="BankRoutingID" minOccurs="0"/>
<xsd:element name="RoutingIDTypeCode" type="BankRoutingIDTypeCode" minOccurs="0"/>
<xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
<xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PLN_BkAcctBOCompFSIdfgElmntsBk">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Identifying elements of the bank where the bank account is held.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="InternalID" type="BankInternalID" minOccurs="0"/>
<xsd:element name="StandardID" type="BankStandardID" minOccurs="0"/>
<xsd:element name="RoutingID" type="BankRoutingID" minOccurs="0"/>
<xsd:element name="RoutingIDTypeCode" type="BankRoutingIDTypeCode" minOccurs="0"/>
<xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkAcctContrSelChquLockInstr">
<xsd:sequence>
<xsd:element name="ChequeTypeCode" type="ChequeTypeCode"/>
<xsd:element name="ChequeTypeName" type="LONG_Name"/>
<xsd:element name="LowerBoundaryChequeID" type="ChequeID"/>
<xsd:element name="UpperBoundaryChequeID" type="ChequeID" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ChequeTypeCode">
<xsd:simpleContent>
<xsd:extension base="ChequeTypeCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqBkContrLockReq">
<xsd:sequence>
<xsd:element name="EventCode" type="BankContractLockRequestEventCode"/>
<xsd:element name="UserStatusCode" type="BankContractLockRequestUserStatusCode" minOccurs="0"/>
<xsd:element name="ValidityStartDate" type="Date" minOccurs="0"/>
<xsd:element name="ValidityEndDate" type="Date" minOccurs="0"/>
<xsd:element name="BusinessProcessChainAssignment" type="OPTIONAL_BusProcChnAssgmtFSElmnts"/>
<xsd:element name="BankAccountContractSelection" type="BkContrLockReqFSCrteReqBkAcctContrSel" minOccurs="0"/>
<xsd:element name="BankCardContractSelection" type="BkContrLockReqFSCrteReqBkCardContrSel" minOccurs="0"/>
<xsd:element name="BankMasterContractSelection" type="BkContrLockReqFSCrteReqBkMstrContrSel" minOccurs="0"/>
<xsd:element name="ChargeSpecification" type="BkContrLockReqFSCrteReqChrgSpec"/>
<xsd:element name="Note" type="LANGUAGEINDEPENDENT_MEDIUM_Note" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BusinessScopeID">
<xsd:simpleContent>
<xsd:extension base="BusinessScopeID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BankCardContractProductionControlFeatureLockInstructionCode">
<xsd:simpleContent>
<xsd:extension base="BankCardContractProductionControlFeatureLockInstructionCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="Amount">
<xsd:simpleContent>
<xsd:extension base="Amount.Content">
<xsd:attribute name="currencyCode" type="CurrencyCode" use="required"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BankContractLockRequestUserStatusCode">
<xsd:simpleContent>
<xsd:extension base="BankContractLockRequestUserStatusCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkMstrContrSelProdContrFeatrLockInstr">
<xsd:sequence>
<xsd:element name="Code" type="BankMasterContractProductionControlFeatureLockInstructionCode"/>
<xsd:element name="Name" type="MEDIUM_Name"/>
<xsd:element name="BankMasterContractProductionControlFeature" type="BkContrLockReqFSBkMstrContrSelProdContrFeatrLockInstrFeatr" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LONG_Name">
<xsd:simpleContent>
<xsd:extension base="LONG_Name.Content">
<xsd:attribute name="languageCode" type="LanguageCode"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CN_MANDATORY_BusProcChnAssgmtFSElmnts">
<xsd:sequence>
<xsd:element name="BusinessProcessChainUUID" type="UUID"/>
<xsd:element name="BankingBusinessTransactionTypeCode" type="BankingBusinessTransactionTypeCode"/>
<xsd:element name="BankingBusinessTransactionTypeName" type="EXTENDED_Name"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkAcctContrSelBkAcctEntryLockInstr">
<xsd:sequence>
<xsd:element name="BankPaymentTransactionLockInstructionCode" type="BankPaymentTransactionLockInstructionCode" minOccurs="0"/>
<xsd:element name="BankPaymentTransactionLockInstructionName" type="MEDIUM_Name" minOccurs="0"/>
<xsd:element name="BankAccountPrenoteEntryTypeCode" type="BankAccountPrenoteEntryTypeCode" minOccurs="0"/>
<xsd:element name="BankAccountPrenoteEntryTypeName" type="MEDIUM_Name" minOccurs="0"/>
<xsd:element name="LowerBoundaryAmount" type="Amount"/>
<xsd:element name="UpperBoundaryAmount" type="Amount" minOccurs="0"/>
<xsd:element name="BankAccountPrenoteEntryReference" type="BkContrLockReqFSBkAcctContrSelBkAcctEntryLockInstrPrenoteRef" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkAcctContrSelBkAcctContr">
<xsd:sequence>
<xsd:element name="TypeCode" type="BankAccountContractTypeCode"/>
<xsd:element name="TypeName" type="MEDIUM_Name"/>
<xsd:element name="IdentifyingElements" type="MANDATORY_BkAcctContrBOCompFSIdfgElmnts"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqBkAcctContrSelBkAcctContr">
<xsd:sequence>
<xsd:element name="IdentifyingElements" type="OPTIONAL_BkAcctContrBOCompFSIdfgElmnts"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EmailURI">
<xsd:simpleContent>
<xsd:extension base="xsd:anyURI">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkAcctContrSelDrctDbtMndtLockInstr">
<xsd:sequence>
<xsd:element name="DirectDebitMandateID" type="DirectDebitMandateID"/>
<xsd:element name="CreditorPartyID" type="PartyID"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NamespaceURI">
<xsd:simpleContent>
<xsd:extension base="xsd:anyURI">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="PartyBOComponentFSIdentifyingElements">
<xsd:annotation>
<xsd:documentation xml:lang="EN">PartyBOComponentFSIdentifyingElements</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="PartyKey" type="PartyBOComponentFSIdentifyingElementsPartyKey"/>
<xsd:element name="PartyUUID" type="UUID" minOccurs="0"/>
<xsd:element name="PartyAlternativeIdentification" type="PartyBOComponentFSIdentifyingElementsPartyAlternativeID" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BankCardContractID">
<xsd:simpleContent>
<xsd:extension base="BankCardContractID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BankAccountContractProductionControlFeatureCode">
<xsd:simpleContent>
<xsd:extension base="BankAccountContractProductionControlFeatureCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ExchangeFaultData">
<xsd:sequence>
<xsd:element name="faultText" type="xsd:string"/>
<xsd:element name="faultUrl" type="xsd:string" minOccurs="0"/>
<xsd:element name="faultDetail" type="ExchangeLogData" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkMstrContrSelProdContrFeatrLockInstrFeatr">
<xsd:sequence>
<xsd:element name="Code" type="BankMasterContractProductionControlFeatureCode"/>
<xsd:element name="Name" type="MEDIUM_Name"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSChrgSpec">
<xsd:sequence>
<xsd:element name="WaiverRequestedIndicator" type="Indicator"/>
<xsd:element name="BankAccount" type="CN_BkAcctBOCompFSIdfgElmnts" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqBkCardContrSelBkCardContr">
<xsd:sequence>
<xsd:element name="ID" type="BankCardContractID"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BankAccountInternalID">
<xsd:simpleContent>
<xsd:extension base="BankAccountInternalID.Content">
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqChrgSpec">
<xsd:sequence>
<xsd:element name="WaiverRequestedIndicator" type="Indicator"/>
<xsd:element name="BankAccount" type="PLN_BkAcctBOCompFSIdfgElmnts" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PartyBOComponentFSIdentifyingElementsPartyAlternativeID">
<xsd:sequence>
<xsd:element name="PartyID" type="PartyID"/>
<xsd:element name="PartyIdentifierTypeCode" type="PartyIdentifierTypeCode"/>
<xsd:element name="BusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqBkAcctContrSelDrctDbtMandtInstr">
<xsd:sequence>
<xsd:element name="DirectDebitMandateID" type="DirectDebitMandateID"/>
<xsd:element name="CreditorPartyID" type="PartyID"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PartyIdentifierTypeCode">
<xsd:simpleContent>
<xsd:extension base="PartyIdentifierTypeCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencySchemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BankPaymentTransactionLockInstructionCode">
<xsd:simpleContent>
<xsd:extension base="BankPaymentTransactionLockInstructionCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BusinessScopeTypeCode">
<xsd:simpleContent>
<xsd:extension base="BusinessScopeTypeCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencySchemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EXTENDED_Name">
<xsd:simpleContent>
<xsd:extension base="EXTENDED_Name.Content">
<xsd:attribute name="languageCode" type="LanguageCode"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkCardContrSelProdContrFeatrLockInstrFeatr">
<xsd:sequence>
<xsd:element name="Code" type="BankCardContractProductionControlFeatureCode"/>
<xsd:element name="Name" type="MEDIUM_Name"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BankAccountPrenoteEntryTypeCode">
<xsd:simpleContent>
<xsd:extension base="BankAccountPrenoteEntryTypeCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LogItemNoteTemplateText_V1">
<xsd:simpleContent>
<xsd:extension base="LogItemNoteTemplateText_V1.Content">
<xsd:attribute name="languageCode" type="LanguageCode"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkCardContrSel">
<xsd:sequence>
<xsd:element name="CardLockRequestedIndicator" type="Indicator"/>
<xsd:element name="CardLockChargeWaiverRequestedIndicator" type="Indicator"/>
<xsd:element name="BankCardContract" type="BkContrLockReqFSBkCardContrSelBkCardContr" maxOccurs="unbounded"/>
<xsd:element name="PartySpecification" type="PartyBOComponentFSIdentifyingElements" minOccurs="0"/>
<xsd:element name="ProductionControlFeatureLockInstruction" type="BkContrLockReqFSBkCardContrSelProdContrFeatrLockInstr" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkAcctContrBOCompFSIdfgElmntsAltvIdn">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Alternative identifier of the bank account contract.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID" type="BankAccountContractID"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkContrLockReq">
<xsd:sequence>
<xsd:element name="ID" type="BankContractLockRequestID"/>
<xsd:element name="ChangeStateID" type="ChangeStateID"/>
<xsd:element name="SystemAdministrativeData" type="SystemAdministrativeData"/>
<xsd:element name="EventCode" type="BankContractLockRequestEventCode"/>
<xsd:element name="EventName" type="MEDIUM_Name"/>
<xsd:element name="UserStatusCode" type="BankContractLockRequestUserStatusCode"/>
<xsd:element name="UserStatusName" type="MEDIUM_Name"/>
<xsd:element name="ValidityStartDate" type="Date"/>
<xsd:element name="ValidityEndDate" type="Date"/>
<xsd:element name="BusinessProcessChainAssignment" type="CN_MANDATORY_BusProcChnAssgmtFSElmnts" minOccurs="0"/>
<xsd:element name="BankAccountContractSelection" type="BkContrLockReqFSBkAcctContrSel" minOccurs="0"/>
<xsd:element name="BankCardContractSelection" type="BkContrLockReqFSBkCardContrSel" minOccurs="0"/>
<xsd:element name="BankMasterContractSelection" type="BkContrLockReqFSBkMstrContrSel" minOccurs="0"/>
<xsd:element name="ChargeSpecification" type="BkContrLockReqFSChrgSpec"/>
<xsd:element name="Note" type="LANGUAGEINDEPENDENT_MEDIUM_Note" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ContactPersonInternalID">
<xsd:simpleContent>
<xsd:extension base="ContactPersonInternalID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkAcctContrSelBkCardLockInstr">
<xsd:sequence>
<xsd:element name="BankCardTypeCode" type="BankCardContractPaymentCardTypeCode"/>
<xsd:element name="BankCardTypeName" type="MEDIUM_Name"/>
<xsd:element name="RelatedCardsLockRequestedIndicator" type="Indicator"/>
<xsd:element name="CardLockChargeWaiverRequestedIndicator" type="Indicator"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CN_BkAcctBOCompFSIdfgElmnts">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Identifying elements of a bank account supported by bank accounts management in Financial Services (Banking).</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID" type="BankAccountID" minOccurs="0"/>
<xsd:element name="IDCheckDigitValue" type="BankAccountIDCheckDigitValue" minOccurs="0"/>
<xsd:element name="InternalID" type="BankAccountInternalID" minOccurs="0"/>
<xsd:element name="StandardID" type="BankAccountStandardID" minOccurs="0"/>
<xsd:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
<xsd:element name="Bank" type="CN_BkAcctBOCompFSIdfgElmntsBk" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PhoneNumber">
<xsd:sequence>
<xsd:element name="AreaID" type="PhoneNumberAreaID" minOccurs="0"/>
<xsd:element name="SubscriberID" type="PhoneNumberSubscriberID" minOccurs="0"/>
<xsd:element name="ExtensionID" type="PhoneNumberExtensionID" minOccurs="0"/>
<xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
<xsd:element name="CountryDiallingCode" type="CountryDiallingCode" minOccurs="0"/>
<xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SystemAdministrativeData">
<xsd:annotation>
<xsd:documentation xml:lang="EN">SystemAdministrativeData</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
<xsd:element name="CreationIdentityUUID" type="UUID" minOccurs="0"/>
<xsd:element name="CreationUserAccountID" type="UserAccountID" minOccurs="0"/>
<xsd:element name="LastChangeDateTime" type="GLOBAL_DateTime" minOccurs="0"/>
<xsd:element name="LastChangeIdentityUUID" type="UUID" minOccurs="0"/>
<xsd:element name="LastChangeUserAccountID" type="UserAccountID" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkMstrContrSel">
<xsd:sequence>
<xsd:element name="BankMasterContract" type="BkContrLockReqFSBkMstrContrSelBkMstrContr"/>
<xsd:element name="ProductionControlFeatureLockInstruction" type="BkContrLockReqFSBkMstrContrSelProdContrFeatrLockInstr" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BankingBusinessTransactionTypeCode">
<xsd:simpleContent>
<xsd:extension base="BankingBusinessTransactionTypeCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MEDIUM_Name">
<xsd:simpleContent>
<xsd:extension base="MEDIUM_Name.Content">
<xsd:attribute name="languageCode" type="LanguageCode"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DirectDebitMandateID">
<xsd:simpleContent>
<xsd:extension base="DirectDebitMandateID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BankAccountContractID">
<xsd:simpleContent>
<xsd:extension base="BankAccountContractID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UserAccountID">
<xsd:simpleContent>
<xsd:extension base="UserAccountID.Content">
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MANDATORY_BkAcctContrBOCompFSIdfgElmnts">
<xsd:annotation>
<xsd:documentation xml:lang="EN">
<![CDATA[MANDATORY_BankAccountContractBOComponentFSIdentifyingElements is a projection of the template BankAccountContractBOComponentFSIdentifyingElements_Template. The projection is used to refer to a BankAccountContract]]>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID" type="BankAccountContractID"/>
<xsd:element name="AlternativeIdentification" type="BkAcctContrBOCompFSIdfgElmntsAltvIdn" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DataTypeReference">
<xsd:sequence>
<xsd:element name="DataTypeName" type="LANGUAGEINDEPENDENT_Name"/>
<xsd:element name="DataTypeNamespaceURI" type="NamespaceURI"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkAcctContrSel">
<xsd:sequence>
<xsd:element name="BankAccountContract" type="BkContrLockReqFSBkAcctContrSelBkAcctContr" maxOccurs="unbounded"/>
<xsd:element name="PartySpecification" type="PartyBOComponentFSIdentifyingElements" minOccurs="0"/>
<xsd:element name="ProductionControlFeatureLockInstruction" type="BkContrLockReqFSBkAcctContrSelProdContrFeatrLockInstr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="BankAccountEntryLockInstruction" type="BkContrLockReqFSBkAcctContrSelBkAcctEntryLockInstr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="DirectDebitMandateLockInstruction" type="BkContrLockReqFSBkAcctContrSelDrctDbtMndtLockInstr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ChequeLockInstruction" type="BkContrLockReqFSBkAcctContrSelChquLockInstr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="BankCardLockInstruction" type="BkContrLockReqFSBkAcctContrSelBkCardLockInstr" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SystemMessageTypeReference">
<xsd:sequence>
<xsd:element name="SystemMessageTypeGroupReference" type="SystemMessageTypeGroupReference"/>
<xsd:element name="SystemMessageTypeName" type="LANGUAGEINDEPENDENT_Name"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BusinessScopeInstanceID">
<xsd:simpleContent>
<xsd:extension base="BusinessScopeInstanceID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="OPTIONAL_PARTYTYPECODE_PtyBOCompFSElmnts">
<xsd:annotation>
<xsd:documentation xml:lang="EN">PartyBOComponentFSIdentifyingElements</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="PartyKey" type="OPTIONAL_PARTYTYPECODE_PtyBOCompFSElmntsPtyKey" minOccurs="0"/>
<xsd:element name="PartyUUID" type="UUID" minOccurs="0"/>
<xsd:element name="PartyAlternativeIdentification" type="PartyBOComponentFSIdentifyingElementsPartyAlternativeID" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Note">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="languageCode" type="LanguageCode"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqBkAcctContrSelChquLockInstr">
<xsd:sequence>
<xsd:element name="ChequeTypeCode" type="ChequeTypeCode"/>
<xsd:element name="LowerBoundaryChequeID" type="ChequeID"/>
<xsd:element name="UpperBoundaryChequeID" type="ChequeID" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BankMasterContractProductionControlFeatureLockInstructionCode">
<xsd:simpleContent>
<xsd:extension base="BankMasterContractProductionControlFeatureLockInstructionCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkCardContrSelProdContrFeatrLockInstr">
<xsd:sequence>
<xsd:element name="Code" type="BankCardContractProductionControlFeatureLockInstructionCode"/>
<xsd:element name="Name" type="MEDIUM_Name"/>
<xsd:element name="BankCardContractProductionControlFeature" type="BkContrLockReqFSBkCardContrSelProdContrFeatrLockInstrFeatr" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BankContractLockRequestEventCode">
<xsd:simpleContent>
<xsd:extension base="BankContractLockRequestEventCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BusinessDocumentMessageHeaderParty">
<xsd:annotation>
<xsd:documentation xml:lang="EN">General information about a party that is responsible for sending or receiving a BusinessDocument at business application level</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="InternalID" type="PartyInternalID" minOccurs="0"/>
<xsd:element name="StandardID" type="PartyStandardID" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BankMasterContractID">
<xsd:simpleContent>
<xsd:extension base="BankMasterContractID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Contact person of a party that is responsible for sending or receiving a BusinessDocument</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="InternalID" type="ContactPersonInternalID" minOccurs="0"/>
<xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0" maxOccurs="4"/>
<xsd:element name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0" maxOccurs="4"/>
<xsd:element name="PhoneNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="FaxNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="EmailURI" type="EmailURI" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SystemMessageTypeGroupReference">
<xsd:sequence>
<xsd:element name="SystemMessageTypeGroupName" type="LANGUAGEINDEPENDENT_Name"/>
<xsd:element name="SystemMessageTypeGroupNamespaceURI" type="NamespaceURI"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqBkCardContrSel">
<xsd:sequence>
<xsd:element name="CardLockChargeWaiverRequestedIndicator" type="Indicator"/>
<xsd:element name="BankCardContract" type="BkContrLockReqFSCrteReqBkCardContrSelBkCardContr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PartySpecification" type="OPTIONAL_PARTYTYPECODE_PtyBOCompFSElmnts" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqBkAcctContrSelBkAcctEntryLockInstr">
<xsd:sequence>
<xsd:element name="BankPaymentTransactionLockInstructionCode" type="BankPaymentTransactionLockInstructionCode" minOccurs="0"/>
<xsd:element name="BankAccountPrenoteEntryTypeCode" type="BankAccountPrenoteEntryTypeCode" minOccurs="0"/>
<xsd:element name="LowerBoundaryAmount" type="Amount" minOccurs="0"/>
<xsd:element name="UpperBoundaryAmount" type="Amount" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BusinessDocumentMessageHeader">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Business information from the perspective of the sender application for identifying a business document (instance) within a (technical) message</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID" type="BusinessDocumentMessageID" minOccurs="0"/>
<xsd:element name="UUID" type="UUID" minOccurs="0"/>
<xsd:element name="ReferenceID" type="BusinessDocumentMessageID" minOccurs="0"/>
<xsd:element name="ReferenceUUID" type="UUID" minOccurs="0"/>
<xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
<xsd:element name="TestDataIndicator" type="Indicator" minOccurs="0"/>
<xsd:element name="ReconciliationIndicator" type="Indicator" minOccurs="0"/>
<xsd:element name="SenderBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
<xsd:element name="RecipientBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
<xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0"/>
<xsd:element name="RecipientParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="BusinessScope" type="BusinessScope" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PLN_BkAcctBOCompFSIdfgElmnts">
<xsd:annotation>
<xsd:documentation xml:lang="EN">Identifying elements of a bank account supported by bank accounts management in Financial Services (Banking).</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID" type="BankAccountID" minOccurs="0"/>
<xsd:element name="IDCheckDigitValue" type="BankAccountIDCheckDigitValue" minOccurs="0"/>
<xsd:element name="InternalID" type="BankAccountInternalID" minOccurs="0"/>
<xsd:element name="StandardID" type="BankAccountStandardID" minOccurs="0"/>
<xsd:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
<xsd:element name="Bank" type="PLN_BkAcctBOCompFSIdfgElmntsBk" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BankMasterContractProductionControlFeatureCode">
<xsd:simpleContent>
<xsd:extension base="BankMasterContractProductionControlFeatureCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LogItem_V1">
<xsd:sequence>
<xsd:element name="TypeID" type="LogItemTypeID_V1" minOccurs="0"/>
<xsd:element name="TypeIdentifierTypeCode" type="LogItemTypeIdentifierTypeCode" minOccurs="0"/>
<xsd:element name="SystemMessageTypeReference" type="SystemMessageTypeReference" minOccurs="0"/>
<xsd:element name="CategoryCode" type="LogItemCategoryCode" minOccurs="0"/>
<xsd:element name="SeverityCode" type="LogItemSeverityCode" minOccurs="0"/>
<xsd:element name="ReferenceObjectNodeSenderTechnicalID" type="ObjectNodePartyTechnicalID" minOccurs="0"/>
<xsd:element name="ReferenceMessageElementName" type="LANGUAGEINDEPENDENT_Name" minOccurs="0"/>
<xsd:element name="Note" type="Note"/>
<xsd:element name="NoteTemplateText" type="LogItemNoteTemplateText_V1" minOccurs="0"/>
<xsd:element name="LogItemNotePlaceholderSubstitutionList" type="LogItemNotePlaceholderSubstitutionList_V1" minOccurs="0"/>
<xsd:element name="WebURI" type="WebURI" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqBkMstrContrSelBkMstrContr">
<xsd:sequence>
<xsd:element name="ID" type="BankMasterContractID"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PartyID">
<xsd:simpleContent>
<xsd:extension base="PartyID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencySchemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkAcctContrSelBkAcctEntryLockInstrPrenoteRef">
<xsd:sequence>
<xsd:element name="RequesterBankAccountPrenoteEntryID" type="BankAccountPrenoteEntryID_V1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkMstrContrSelBkMstrContr">
<xsd:sequence>
<xsd:element name="ID" type="BankMasterContractID"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqBkAcctContrSelBkCardLockInstr">
<xsd:sequence>
<xsd:element name="CardLockChargeWaiverRequestedIndicator" type="Indicator"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OPTIONAL_PARTYTYPECODE_PtyBOCompFSElmntsPtyKey">
<xsd:annotation>
<xsd:documentation xml:lang="EN">IDT Alternativ Key-Structure of the TO Party</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="PartyTypeCode" type="BusinessObjectTypeCode" minOccurs="0"/>
<xsd:element name="PartyID" type="PartyID" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LogItemNotePlaceholderSubstitutionList_V1">
<xsd:sequence>
<xsd:element name="FirstPlaceholderID" type="LogItemTemplatePlaceholderID"/>
<xsd:element name="SecondPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0"/>
<xsd:element name="ThirdPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0"/>
<xsd:element name="FourthPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0"/>
<xsd:element name="FirstPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
<xsd:element name="SecondPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText" minOccurs="0"/>
<xsd:element name="ThirdPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText" minOccurs="0"/>
<xsd:element name="FourthPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText" minOccurs="0"/>
<xsd:element name="FirstPlaceholderGlobalDataTypeReference" type="DataTypeReference" minOccurs="0"/>
<xsd:element name="SecondPlaceholderGlobalDataTypeReference" type="DataTypeReference" minOccurs="0"/>
<xsd:element name="ThirdPlaceholderGlobalDataTypeReference" type="DataTypeReference" minOccurs="0"/>
<xsd:element name="FourthPlaceholderGlobalDataTypeReference" type="DataTypeReference" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PartyInternalID">
<xsd:simpleContent>
<xsd:extension base="PartyInternalID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="PartyBOComponentFSIdentifyingElementsPartyKey">
<xsd:annotation>
<xsd:documentation xml:lang="EN">IDT Alternativ Key-Structure of the TO Party</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="PartyTypeCode" type="BusinessObjectTypeCode"/>
<xsd:element name="PartyID" type="PartyID" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ChequeID">
<xsd:simpleContent>
<xsd:extension base="ChequeID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="OPTIONAL_BkAcctContrBOCompFSIdfgElmnts">
<xsd:annotation>
<xsd:documentation xml:lang="EN">
<![CDATA[OPTIONAL_BankAccountContractBOComponentFSIdentifyingElements is a projection of the template BankAccountContractBOComponentFSIdentifyingElements_Template. The projection is used to refer to a BankAccountContract]]>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID" type="BankAccountContractID" minOccurs="0"/>
<xsd:element name="AlternativeIdentification" type="BkAcctContrBOCompFSIdfgElmntsAltvIdn" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PartyStandardID">
<xsd:simpleContent>
<xsd:extension base="PartyStandardID.Content">
<xsd:attribute name="schemeAgencyID" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSBkAcctContrSelProdContrFeatrLockInstrFeatr">
<xsd:sequence>
<xsd:element name="Code" type="BankAccountContractProductionControlFeatureCode"/>
<xsd:element name="Name" type="MEDIUM_Name"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BankAccountContractTypeCode">
<xsd:simpleContent>
<xsd:extension base="BankAccountContractTypeCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqBkAcctContrSel">
<xsd:sequence>
<xsd:element name="BankAccountContract" type="BkContrLockReqFSCrteReqBkAcctContrSelBkAcctContr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PartySpecification" type="OPTIONAL_PARTYTYPECODE_PtyBOCompFSElmnts" minOccurs="0"/>
<xsd:element name="BankAccountEntryLockInstruction" type="BkContrLockReqFSCrteReqBkAcctContrSelBkAcctEntryLockInstr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="DirectDebitMandateLockInstruction" type="BkContrLockReqFSCrteReqBkAcctContrSelDrctDbtMandtInstr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ChequeLockInstruction" type="BkContrLockReqFSCrteReqBkAcctContrSelChquLockInstr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="BankCardLockInstruction" type="BkContrLockReqFSCrteReqBkAcctContrSelBkCardLockInstr" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BankAccountContractProductionControlFeatureLockInstructionCode_V1">
<xsd:simpleContent>
<xsd:extension base="BankAccountContractProductionControlFeatureLockInstructionCode_V1.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BusinessDocumentMessageID">
<xsd:simpleContent>
<xsd:extension base="BusinessDocumentMessageID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BkContrLockReqFSCrteReqBkMstrContrSel">
<xsd:sequence>
<xsd:element name="BankMasterContract" type="BkContrLockReqFSCrteReqBkMstrContrSelBkMstrContr"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BankCardContractProductionControlFeatureCode">
<xsd:simpleContent>
<xsd:extension base="BankCardContractProductionControlFeatureCode.Content">
<xsd:attribute name="listID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="listAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BankAccountPrenoteEntryID_V1">
<xsd:simpleContent>
<xsd:extension base="BankAccountPrenoteEntryID_V1.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeVersionID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ExchangeLogData">
<xsd:sequence>
<xsd:element name="severity" type="xsd:string" minOccurs="0"/>
<xsd:element name="text" type="xsd:string"/>
<xsd:element name="url" type="xsd:string" minOccurs="0"/>
<xsd:element name="id" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Log_V1">
<xsd:sequence>
<xsd:element name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode" minOccurs="0"/>
<xsd:element name="MaximumLogItemSeverityCode" type="LogItemSeverityCode" minOccurs="0"/>
<xsd:element name="Item" type="LogItem_V1" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UUID">
<xsd:simpleContent>
<xsd:extension base="UUID.Content">
<xsd:attribute name="schemeID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="schemeAgencyID">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:minLength value="1"/>
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="BankContractLockRequestFSCreateRequest">
<wsdl:documentation>BI462 Creating a PLM New ES</wsdl:documentation>
<wsdl:part name="BankContractLockRequestFSCreateRequest" element="p1:BankContractLockRequestFSCreateRequest"/>
</wsdl:message>
<wsdl:message name="BankContractLockRequestFSCreateConfirmation">
<wsdl:documentation>BI462 Creating a PLM New ES</wsdl:documentation>
<wsdl:part name="BankContractLockRequestFSCreateConfirmation" element="p1:BankContractLockRequestFSCreateConfirmation"/>
</wsdl:message>
<wsdl:message name="BankContractLockRequestFSUpdateRequest">
<wsdl:documentation>BI463 Update a PLM</wsdl:documentation>
<wsdl:part name="BankContractLockRequestFSUpdateRequest" element="p1:BankContractLockRequestFSUpdateRequest"/>
</wsdl:message>
<wsdl:message name="BankContractLockRequestFSUpdateConfirmation">
<wsdl:documentation>BI463 Update a PLM</wsdl:documentation>
<wsdl:part name="BankContractLockRequestFSUpdateConfirmation" element="p1:BankContractLockRequestFSUpdateConfirmation"/>
</wsdl:message>
<wsdl:message name="p3.StandardMessageFault">
<wsdl:documentation/>
<wsdl:part name="StandardMessageFault" element="p2:StandardMessageFault"/>
</wsdl:message>
<wsdl:portType name="BankLockRequestProcessingManageBankContractLockRequestIn">
<wsdl:documentation>BI462 and BI463 Create/Update a PLM New ES</wsdl:documentation>
<wsdl:operation name="CreateLockRequest">
<wsdl:documentation>Create Bank Contract Lock Request</wsdl:documentation>
<wsp:Policy>
<wsp:PolicyReference URI="#OP_CreateLockRequest"/>
</wsp:Policy>
<wsdl:input message="p1:BankContractLockRequestFSCreateRequest"/>
<wsdl:output message="p1:BankContractLockRequestFSCreateConfirmation"/>
<wsdl:fault name="p3.StandardMessageFault" message="p1:p3.StandardMessageFault"/>
</wsdl:operation>
<wsdl:operation name="UpdateLockRequest">
<wsdl:documentation>Update Bank Contract Lock Request</wsdl:documentation>
<wsp:Policy>
<wsp:PolicyReference URI="#OP_UpdateLockRequest"/>
</wsp:Policy>
<wsdl:input message="p1:BankContractLockRequestFSUpdateRequest"/>
<wsdl:output message="p1:BankContractLockRequestFSUpdateConfirmation"/>
<wsdl:fault name="p3.StandardMessageFault" message="p1:p3.StandardMessageFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BankLockRequestProcessingManageBankContractLockRequestInBinding" type="p1:BankLockRequestProcessingManageBankContractLockRequestIn">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
<wsdl:operation name="CreateLockRequest">
<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
<wsdl:input>
<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
</wsdl:output>
<wsdl:fault name="p3.StandardMessageFault">
<soap:fault use="literal" name="p3.StandardMessageFault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="UpdateLockRequest">
<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
<wsdl:input>
<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
</wsdl:output>
<wsdl:fault name="p3.StandardMessageFault">
<soap:fault use="literal" name="p3.StandardMessageFault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="BankLockRequestProcessingManageBankContractLockRequestIn">
<wsdl:port name="BankLockRequestProcessingManageBankContractLockRequestIn" binding="p1:BankLockRequestProcessingManageBankContractLockRequestInBinding">
<soap12:address location="https://dev3.wm.com:5554" />
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
